.head {
    min-height: 100px;
    display: flex;
    gap: 5px;
    text-align: center;
    justify-content: center;
    color: #61dafb;
    background-color: #20232a;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
}