.ScoreContainer {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    align-items: center;
    background-image: linear-gradient(to top, #a8abb0, #afb5b7, #b8bebe, #c2c7c4, #cecfcc);
    padding-left: 10px;
    width: 720px;
    border-radius:10px;
    margin: 10px;
}
.ScoreContainer:hover {
    cursor: pointer;
    background-color: #3F4041;
    box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 blue;
}
.android, .apple {
    height: 25px;
    margin-left: 10px;
    width: 21px;
}