.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    font-weight: bold;
}
.btn:hover {
    cursor: pointer;
}
.t1 {
    color: white;
    padding: 15px 30px;
}
.t2 {
    color: black;
    padding: 10px 0px;
}
.logo {
    width: auto;
    height: 15px;
    margin: 10px 0px;
}
.vl {
    height: 13px;
    border-left: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
}