.Card {
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    height: 250px;
    width: 200px;
    background-color: #7E889F;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.Card:hover{
    cursor: pointer;
    transform: scale(1.15);
}
.game_name {
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    line-height: 17px;
}
img {
    border-radius: 10%;
    height: 160px;
    width: 170px;
}
.notFound {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    height: 160px;
    width: 170px;
    font-family: 'Press Start 2P';
    color: rgb(51, 51, 51);
    background-color: gray;
}