 ul {
  list-style: none; 
  margin: 0px;
  padding: 0px;
  padding: 5px;
}
li {
    justify-self: right;
    margin-left: 10px;
}

.btn {
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 5px;
    color: #61dafb;
    font-weight: bold;
}
.btn:hover, li:hover {
    cursor: pointer;
}
.icon {
    height: auto;
    width: 20px;
    margin-left: 20px;
}
li:hover {
    background-color: black;
}
.Menu_d {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 2px;
    position: absolute;
    justify-self: end;
    bottom: 24rem;
    float: left;
    font-weight: bold;
}
.Dropmenu {
    display: flex;
    justify-content: center;
}
