.Card {
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    height: 250px;
    width: 200px;
    /* margin: 20px 0px 5px 20px; */
    /*background-image: linear-gradient(to top, #4958cf, #3a4ba6, #2f3d7e, #272f58, #1e2134);*/
    background-color: #7E889F;
    /*background-image: linear-gradient(to top, #5869ee, #5465d3, #5261b8, #515b9e, #4f5683);
     background-color: rgb(108, 236, 176);*/
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.Card:hover{
    cursor: pointer;
    transform: scale(1.15);
}
.game_name {
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    line-height: 17px;
}
img {
    border-radius: 10%;
    height: 160px;
    width: 170px;
}