.CardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #20232a;
    padding-bottom: 25px;
}
.back {
    background-color: #20232a;
}
.Title {
    display: flex;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    color:#61dafb;
    background-color: #20232a;
    line-height: 20px;
    height: 80px;
    justify-content: center;
    align-items: center;
}