.Menu {
    display: flex;
    justify-content: center;
    color: #61dafb;
    background-image: linear-gradient(to top, #20232a, #1d2126, #1b1e23, #181c1f, #16191c, #16191c, #16191c, #16191c, #181c1f, #1b1e23, #1d2126, #20232a);
    /*background-image: linear-gradient(to top, #20232a, #262a32, #2c303a, #333742, #393e4a);
    background-image: linear-gradient(to right top, #0a1589, #1f2796, #2e38a3, #3c48b0, #4a59bc);*/
}